@font-face {
    font-family: "Leap";
    src: url(../assets/Leap-Font/Leap.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{ 
    padding: 0;
    margin: 0;
    font-family: "Open-Sans", sans-serif;
    text-decoration: none;
    font-size: 1em;
    border: 0;
    box-sizing: border-box;
    --nasaBlue:#0032A0;
    --nasaRed:#E4002B;
    --white:#FFF;
    --black: #141414;
}

h1{
    font-family: "Leap";
    font-size: 3rem;
    letter-spacing: .15rem;
    color: var(--nasaRed);
}

header{
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    position: sticky;
    top: 0;
    z-index: 999;
}

main{
    display: flex;
}

#productsSection{
    width: 75%;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5%;
}

#carrito{
    border-left: 2px solid var(--black);
    height: 100vh;
    width: 25%;
    padding: 5% 2%;
    position: fixed;
    right: 0;
}

#nombreUsuario-carrito{
    font-weight: 700;
}

.row{
    display: flex;
}

.card{
    border: 2px solid var(--black);
    margin: 0 2%;
    border-radius: 0;
    justify-content: space-between;
}
.card-content{
    padding: 5%;
}
.card-img{
    border-radius: 0;
    height: 20vh;
    object-fit: cover;
}

.ocultar{
    display: none!important;
}


button{
    width: 100%;
    padding: 5%;
}
button:hover{
    text-decoration: underline;
}

.btn-primario{
    background-color: var(--nasaBlue);
    color: var(--white);
}
.btn-primario:hover{
    background-color: #002473;
}

.btn-secundario{
    border-top: 2px solid var(--black);
    background-color: var(--white);
}
.btn-secundario:hover{
    background-color: #d9d9d9;
}

.btn.btn-danger.btn-sm.eliminar-producto{
    background-color: var(--nasaRed);
    border-radius: 0;
    width: 20%;
}
.btn.btn-danger.btn-sm.eliminar-producto:hover{
    background-color: #b90022;
}

ul#lista-carrito{
    padding: 5% 0;
}

#lista-carrito li{
    list-style: none;
    margin-bottom: 20%;
    display: flex;
    justify-content: space-between;
}

.msj-despedida{
    text-align: center;
    margin-top: 20%;
    width: 100%;
}